prune girder_virtual_resources/web_client
exclude girder_virtual_resourcest/web_client
prune girder_virtual_resources/tests
exclude girder_virtual_resourcest/tests
global-prune *.yaml
global-exclude *.yaml
exclude codecov.yml MANIFEST.in requirements-dev.txt tox.ini
prune codecov.yml MANIFEST.in requirements-dev.txt tox.ini
